// COLORS
// $font-color: #000;
// $font-alternative-color: #fff;
// $accent-color: #ee6c4d;

// $font-color: #6F7C7D;
// $font-alternative-color: #4A7B7D;
$font-color: #000;
// $font-alternative-color: #6F7C7D;
$font-alternative-color: #333;
$background-color: #e0fbfc;
$box-background-color: #95f9fd;

// P PROPERTIES
$p-font-size: 1.3rem;
$p-line-height: 1.4;
$p-width: 64rem;
$p-margin-bottom: 1.82rem;
$p-margin: 1.82rem auto;
$p-letter-spacing: 1px;

// LIST PROPERTIES
// $list-background-color: #2f4f75;
// $list-hover-background-color: #0ff;
$list-background-color: #95f9fd;
$list-hover-background-color: #b3c9c9;

// TEXTURE
$texture-color: #00c8eb;
$texture-border-color: #b3c9c9;
