// COLORS
$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #3d5a80;
$background-alternative-color: #e0fbfc;

// P PROPERTIES
$p-font-size: 1.3rem;
$p-line-height: 1.4;
$p-width: 64rem;
$p-margin-bottom: 1.82rem;
$p-margin: 1.82rem auto;
$p-letter-spacing: 1px;
